#bootstrap dist
bootstrap-4.3.1-dist

#demo content

demo/*
!demo/looplabDemo
demo/looplabDemo/node_modules
demo/looplabDemo/dist/

!demo/responsive_bootstrap
demo/responsive_bootstrap/node_modules
demo/responsive_bootstrap/dist
